/* Définitions des Variables utilisées pour le site */


/* Variables de Couleurs 
======================== */


/* Noir */

$black-color: #000000;

/* Blanc */

$white-color: #FFFFFF;

/* Gris clair */

$lightgrey-color: #ebe3e3;

/* Gris moyen */

$mediumgrey-color: #aaa7a7;

/* Gris foncé */

$darkgrey-color: #474444;

/* Violet pâle */

$lightpurple-color: #ece3f8;

/* Violet - Couleur Primaire */

$purple-color: #9356DC;

/* Rose - Couleur Secondaire */

$pink-color: #FF79DA;

/* Vert pâle */

$lightgreen-color: #99E2D0;

/* Vert foncé */

$darkgreen-color: #078d6c;

/* Jaune */

$yellow-color: #eedf10;

/* Rouge */

$red-color: #ec2311;

/*
Variables de Pages
*/


/* Ombre grisée */

$greyshadow-color: #C8C8C8;

/* Couleur Background */

$background-color: #F2F2F2;