/* Définitions des Variables utilisées pour le site */


/* Variables de Couleurs */


/* Noir */

$black-color: #000000;

/* Blanc */

$white-color: #FFFFFF;

/* Gris clair */

$lightgrey-color: #e4d6d6;

/* Gris moyen */

$lightgrey-color: #aaa7a7;

/* Gris foncé */

$darkgrey-color: #474444;

/* Violet */

$purple-color: #914ce6;

/* Rose */

$pink-color: #f673d1;

/* Vert pâle */

$lightgreen-color: #81dac3;

/* Vert foncé */

$darkgreen-color: #078d6c;

/*
Variables de Pages
*/


/* Ombre grisée */

$greyshadow-color: #C8C8C8;

/* Couleur Background */

$background-color: #F2F2F2;