            /* Animation type "loading spinner" au lancement de la page d'accueil du site OhMyFood */
            /* =================================================================================== */
            /* Chargement Page Principale */
            
            .animation__loading__container {
                display: flex;
                justify-content: center;
                align-items: center;
                animation: cssAnimation 0s 3s forwards;
                visibility: visible;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
                background: $white-color;
            }
            /* Logo OhMyFood centré */
            
            .animation__loading__container--logospinner {
                font-size: 2rem;
                font-family: $font-title;
                color: $darkgrey-color;
                position: absolute;
            }
            /* Animation sous forme de lignes circulaires */
            /* Ligne circulaire violette */
            
            .animation__loading__container--spinner {
                display: block;
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: 5px solid transparent;
                border-top: 5px solid $purple-color;
                animation: spin 2s linear infinite;
            }
            
            .animation__loading__container--spinner::before,
            .animation__loading__container--spinner::after {
                content: "";
                position: absolute;
                border-radius: 50%;
                border: 5px solid transparent;
            }
            /* Ligne circulaire rose */
            
            .animation__loading__container--spinner::before {
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border-top-color: $pink-color;
                animation: spin 3s linear infinite;
            }
            /* Ligne circulaire vert clair */
            
            .animation__loading__container--spinner::after {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-top-color: $lightgreen-color;
                animation: spin 1.75s linear infinite;
            }
            
            @keyframes cssAnimation {
                to {
                    visibility: hidden;
                    display: none
                }
            }
            
            @keyframes spin {
                from {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                to {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }