/* Footer */

footer {
    background-color: $darkgrey-color;
    padding-left: 25px;
    line-height: 1.5;
    padding-bottom: 25px;
    a {
        font-family: $font-text;
        font-size: 1rem;
        color: $white-color;
    }
    h3 {
        font-family: $font-title;
        font-size: 1.3rem;
        color: $white-color;
        padding-top: 25px;
        padding-bottom: 1.1rem;
    }
}


/* Proposer un restaurant */

.proposition {
    display: flex;
    flex-direction: row;
}


/* Devenir partenaire */

.partenariat {
    display: flex;
    flex-direction: row;
}


/* Caractères spéciaux pour liens Proposer un restaurant et Devenir partenaire */

.caractere_awesome {
    font-size: 0.8rem;
    color: $white-color;
    padding: 0px 20px 0px 0px;
    margin: 5px 10px 5px 0px;
}

@media (min-width: 300px) and (max-width: 767px) {}