/* Style.scss */

body {
    background: black;
    padding-left: 0px;
}


/* Fonctionnement */

.container_choix_fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}