@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Liste des Polices de Caractères utilisées pour le site OhMyFood */
@font-face {
  font-family: "Roboto-Regular";
  src: url("polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
/* Définitions des Variables utilisées pour le site */
/* Variables de Couleurs */
/* Noir */
/* Blanc */
/* Gris clair */
/* Gris moyen */
/* Gris foncé */
/* Violet pâle */
/* Violet */
/* Rose */
/* Vert pâle */
/* Vert foncé */
/* Jaune */
/* Rouge */
/*
Variables de Pages
*/
/* Ombre grisée */
/* Couleur Background */
/* Header OhMyFood */
header {
  display: flex;
  justify-content: center;
}

/* Logo OhMyFood */
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
}

/* Fichier _general.scss
Caractéristiques de la page principale du site OhMyFood
*/
body {
  background: #FFFFFF;
  padding-left: 0px;
}

/* Localisation */
.localisation_et_fonctionnement {
  width: 100%;
  margin-top: 3px;
}

.map_marker {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 5px 5px 5px 5px;
}

.localisation_ville {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-top-width: 3px;
  border-color: #474444;
  background-color: #aaa7a7;
}

.input_localisation {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.decouverte {
  font-family: "Roboto-Regular", Arial, sans-serif;
  text-align: center;
  background-color: #ebe3e3;
  padding: 50px 0 50px 0;
}
.decouverte h1 {
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 5px 80px 10px 80px;
}
.decouverte p {
  padding: 5px 40px 30px 40px;
}

/* nesting ci-dessus au lieu du code ci-dessous :
.decouverte h1 {
    font-size: 1.4rem;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

.decouverte p {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
*/
/* Fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.choix_fonctionnement {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 20px 0 20px 15px;
}

/* */
.container_choix_fonctionnement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.choix {
  position: relative;
}

.choix p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #914ce6;
  color: #FFFFFF;
  padding-top: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: -12px;
}

.choix i {
  font-size: 1rem;
  color: #000000;
  padding: 0px 20px 0px 0px;
}

.choix button {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #000000;
  background-color: #ebe3e3;
  min-width: 280px;
  height: 60px;
  border-radius: 15px 15px 15px 15px;
  border-style: none;
  box-shadow: 0 1px 15px #C8C8C8;
  margin: 0px 0px 15px 0px;
}
.choix button:hover {
  font-size: 1rem;
  color: #914ce6;
  background-color: #ece3f8;
  box-shadow: 3px 3px 3px #C8C8C8;
  transition: all 0.4s linear;
}

/* Restaurants */
.liste_restaurants {
  background-color: #ebe3e3;
  margin-top: 50px;
}
.liste_restaurants h2 {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #000000;
  padding: 50px 0px 30px 15px;
}

.restaurants {
  margin-bottom: 20px;
}

.liste_fiches {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.fiche {
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
  height: auto;
  max-height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 3px 20px #C8C8C8;
  position: relative;
  margin: 0 auto 30px auto;
}
.fiche--image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fiche__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 5px 10px 0px;
  position: relative;
}
.fiche__info__text {
  color: #000000;
}
.fiche__info__text--nom {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.fiche__info__text--lieu {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
}
.fiche__flag_nouveau {
  background-color: #81dac3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  transition: transform cubic-bezier(0, 1.18, 1, 1.55) 0.3s;
}
.fiche__flag_nouveau--text {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-weight: bold;
  color: #078d6c;
}

@media (min-width: 300px) and (max-width: 767px) {
  .liste_fiches {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
/* Footer */
footer {
  background-color: #474444;
  padding-left: 25px;
  line-height: 1.5;
  padding-bottom: 25px;
}
footer a {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}
footer h3 {
  font-family: "Shrikhand-Regular", Raleway, Times, serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 1.1rem;
}

/* Proposer un restaurant */
.proposition {
  display: flex;
  flex-direction: row;
}

/* Devenir partenaire */
.partenariat {
  display: flex;
  flex-direction: row;
}

/* Caractères spéciaux pour liens Proposer un restaurant et Devenir partenaire */
.caractere_awesome {
  font-size: 0.8rem;
  color: #FFFFFF;
  padding: 0px 20px 0px 0px;
  margin: 5px 10px 5px 0px;
}

/* Définitions des Boutons utilisés pour le site */
.decouverte button,
.submitorder {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 1rem;
  height: 50px;
  color: #FFFFFF;
  background-color: #474444;
  background-image: linear-gradient(350deg, #914ce6, #f673d1);
  /* background-image: linear-gradient(350deg, $darkgreen-color, $yellow-color);
  Test Noé Jaune/Vert et prévoir boucle */
  border-style: none;
  border-radius: 35px 35px 35px 35px;
  padding: 0 20px 0 20px;
  margin: 15px auto 0 auto;
  display: block;
  cursor: pointer;
  transform: scale(1);
  opacity: 100%;
}
.decouverte button:hover,
.submitorder:hover {
  transform: scale(1.02);
  /* transform: scale(1.52); Test Noé fort grossissement */
  opacity: 0.6;
  box-shadow: 3px 3px 3px #474444;
  transition: all 0.5s linear;
}

/* Fichier _page_restaurant.scss
Caractéristiques de la page du restaurant présenté par le site OhMyFood
*/
/* En-tête de la page Restaurant */
.header_page_restaurant {
  display: block;
  margin: 20px 0 20px 0;
}
.header_page_restaurant a {
  position: absolute;
  margin: 10px 0 0 25px;
  color: #000000;
  font-weight: bolder;
}
.header_page_restaurant h1 {
  font-family: "Shrikhand-Regular", Raleway, Times, serif;
  text-align: center;
  font-size: 2rem;
}

/* Photo du restaurant et en-tête du bloc Menus */
.fiche--image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus {
  background-color: #ebe3e3;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transform: translateY(-50px);
  margin: 0px 0px -50px 0px;
}

/* Nom du Restaurant */
.titre {
  font-family: "Shrikhand-Regular", Raleway, Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0 20px 0;
  padding: 60px 0px 0px 0px;
}
.titre--nom_restaurant {
  font-size: 1.8rem;
}
.titre--icone {
  font-size: 1.5rem;
  color: #474444;
}

/* Zone Bloc Menus (Entrées/Plats/Desserts) */
.bloc_menus h3 {
  font-family: "Roboto-Regular", Arial, sans-serif;
  border-bottom: solid 2px #81dac3;
  width: 50px;
  margin: 20px 0 0 20px;
}

.carte_menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carte détaillée du Restaurant */
.carte {
  font-family: "Roboto-Regular", Arial, sans-serif;
  width: 350px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #C8C8C8;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.carte__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px 10px 10px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__info--nom_plat {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__info--nom_complement {
  font-family: "Roboto-Regular", Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__prix {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 20px 10px 10px 10px;
}
.carte__validation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 30%;
  max-width: 0;
  overflow: hidden;
  background-color: #81dac3;
  transition: all 0.5s linear;
}
.carte__validation--icone {
  color: #FFFFFF;
  font-size: 20px;
  transition: all 0.5s linear;
}
.carte:hover .carte__validation {
  max-width: 50px;
}
.carte:hover .carte__validation--icone {
  transform: rotateZ(360deg);
}

.commande {
  padding: 30px 0 30px 0;
}

/*
Style.scss
Appel de tous les fichiers constituant l'habillage CSS du site
<!--      Projet P3 OhMyFood Pascal SOULA 2021_06-07       -->
<!--      ==========================================       -->
*//*# sourceMappingURL=style.css.map */