@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Liste des Polices de Caractères utilisées pour le site OhMyFood */
@font-face {
  font-family: "Roboto-Regular";
  src: url("polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
/* Définitions des Variables utilisées pour le site */
/* Variables de Couleurs */
/* Noir */
/* Blanc */
/* Gris clair */
/* Gris moyen */
/* Gris foncé */
/* Violet */
/* Rose */
/* Vert pâle */
/* Vert foncé */
/*
Variables de Pages
*/
/* Ombre grisée */
/* Couleur Background */
/* Header OhMyFood */
header {
  display: flex;
  justify-content: center;
}

/* Logo OhMyFood */
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
}

/* Style.scss */
body {
  background: #FFFFFF;
  padding-left: 0px;
}

.localisation {
  width: 100%;
  margin-top: 2px;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #aaa7a7;
  font-size: 1.6rem;
  padding: 5px 0 5px 50px;
  border-style: solid;
  border-top-width: 3px;
  border-color: #C8C8C8;
}

.inputplace {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Fonctionnement */
.container_choix_fonctionnement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Footer */
footer {
  background-color: #474444;
  padding-left: 25px;
  line-height: 1.5;
  padding-bottom: 25px;
}
footer a {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}
footer h3 {
  font-family: "Shrikhand-Regular", Times, serif;
  font-size: 1.1rem;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 1.1rem;
}

.proposition {
  display: flex;
  flex-direction: row;
}

.partenariat {
  display: flex;
  flex-direction: row;
}

/* Définitions des Boutons utilisés pour le site *//*# sourceMappingURL=style.css.map */