/* Définitions des Boutons utilisés pour le site 
   ============================================= */


/* Boutons Explorer et zone Fonctionnement  
========================================== */

.decouverte button,
.submitorder {
    font-family: $font-text;
    font-size: 1rem;
    height: 50px;
    color: $white-color;
    background-color: $darkgrey-color;
    background-image: linear-gradient(350deg, $purple-color, $pink-color);
    /* background-image: linear-gradient(350deg, $darkgreen-color, $yellow-color);
    Test Noé Jaune/Vert et prévoir boucle */
    border-style: none;
    border-radius: 35px 35px 35px 35px;
    padding: 0 20px 0 20px;
    margin: 15px auto 0 auto;
    display: block;
    cursor: grab;
    /* cursor: pointer = flèche => grab permet d'avoir une main au survol de la zone */
    transform: scale(1);
    opacity: 100%;
    /* permet de dégonfler le bouton après l'avoir gonflé */
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        /* Permet de gonfler le bouton au moment du survol par la souris */
        transform: scale(1.08);
        /* transform: scale(1.52); Test Noé fort grossissement */
        opacity: 0.7;
        box-shadow: 3px 3px 3px $darkgrey-color;
        transition: all 0.6s linear;
    }
}

.choix button {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
    color: $black-color;
    background-color: $lightgrey-color;
    min-width: 280px;
    height: 60px;
    border-radius: 15px 15px 15px 15px;
    border-style: none;
    box-shadow: 0 1px 15px $greyshadow-color;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    transform: scale(1);
    opacity: 100%;
    /* permet de dégonfler le bouton après l'avoir gonflé */
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        font-size: 1rem;
        color: $purple-color;
        background-color: $lightpurple-color;
        box-shadow: 3px 3px 3px $greyshadow-color;
        /* Permet de gonfler le bouton au moment du survol par la souris */
        transform: scale(1.02);
        opacity: 0.7;
        transition: all 0.5s linear;
    }
}


/* Bouton Coeur  
=============== */

.fa-heart {
    cursor: pointer;
}

.fa-heart__content {
    font-size: 1.6em;
}

.fa-heart__content_empty {
    position: relative;
    right: 22px;
}

.fa-heart__box {
    position: relative;
    left: 17px;
}

.fa-heart__box:hover>.fa-heart_full {
    opacity: 1;
    transform: scale(1);
}

.fa-heart_full {
    color: $pink-color;
    background: $pink-color;
    background: linear-gradient(63deg, $pink-color 0%, $purple-color 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1000ms;
    transform: scale(0);
    transform-origin: bottom;
    position: relative;
    left: 17%;
}


/* Bouton Coeur  Version initiale
   ==============================

.fiche__info {
    &__coeur {
        position: relative;
        cursor: pointer;
        width: 20px;
        margin: 20px;
        &--dessin_coeur {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1,4em;
            transition: all 1s linear;
            &.empty {
                opacity: 1;
                color: $black-color;
            }
            &.full {
                opacity: 0;
                background: linear-gradient(0deg, $purple-color, $pink-color);
            }
        }
        &:hover {
            .fiche__info__coeur--dessin_coeur {
                &.empty {
                    opacity: 0;
                }
                &.full {
                    opacity: 1;
                }
            }
        }
    }
}
*/