/* Liste des Polices de Caractères utilisées pour le site OhMyFood */

@font-face {
    font-family: "Roboto-Regular";
    /* src: url("polices/Roboto/Roboto-Regular.ttf") format("truetype"); */
    /* src: url("../../polices/Roboto/Roboto-Regular.ttf") format("truetype"); */
    /* src: url("../../../assets/polices/Roboto/Roboto-Regular.ttf") format("truetype"); */
    src: url("/assets/polices/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand-Regular";
    /* src: url("../../../assets/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype"); */
    src: url("/assets/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    /* src: url("../../../assets/polices/Raleway/Raleway-Regular.ttf") format("truetype"); */
    src: url("/assets/polices/Raleway/Raleway-Regular.ttf") format("truetype");
}


/* Police de Texte */

$font-text:"Roboto-Regular",
Raleway,
sans-serif;

/* Police de Logo et de Titre */

$font-title: "Shrikhand-Regular",
Raleway,
sans-serif;